{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Soundlabs Audio</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'review/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'review/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'review/theme.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="jumbotron text-center" role="main">

       <img src="{% static 'media/Black_Transparent.png' %}" width="500" height="500"/>

      <div class="container">
        <h1>What others have to say</h1>
        <a type="button" class="btn btn-secondary btn-lg" href="{% url 'sign' %}">Write a review</a>
      </div>


      {% for c in comments %}
      <div class="page-header">
        <h2>{{ c.name }}</h2>
      </div>
      <div class="well">
        <p>{{ c.comment }}</p>
      </div>
      {% endfor %}

    </div> <!-- /container -->

  </body>
</html>